@import url('https://fonts.googleapis.com/css2?family=Hind:wght@700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3f87a6ad;
  display: flex;
  justify-content: center;
}

.navigation{
  width: 100vw;
  background-color: #8e72ff;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 25px 5px;
}

h1, h2, h3, h4, h5 ,h6{
  font-family: 'Hind', sans-serif;
  font-weight: 700; 
  letter-spacing: 2px;
  text-transform: uppercase;
}

p{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-comp{
  border: 2px solid gray;
  border-radius: 25px;
  margin: 20px 40px 20px 40px;
}

.center{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hourly-card{
  background: linear-gradient( 81deg, rgb(191 231 255 / 70%), rgb(255 255 255 / 75%) );
  box-shadow: 0px -6px 30px rgb(0 0 0 / 20%);
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  margin: 20px;
  align-items: center;
  padding: 20px;
  min-width: 80vw;
}

@media only screen and (max-width: 600px) {
  .hourly-card {
    flex-direction: column-reverse;
  }
}

.todays-weather{
  background: linear-gradient( 81deg, rgb(191 231 255 / 70%), rgb(255 255 255 / 75%) );
  box-shadow: 0px -6px 30px rgb(0 0 0 / 20%);
  border-radius: 25px;
  margin: 20px;
  padding: 20px;
  width: max-content;
  min-width: 200px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn{
  background-color: #8e72ff;
  border: 1px solid #7d7d7d;
  border-radius: 0px 25px 25px 0px;
  padding: 13px 20px 13px 13px;
  font-size: 18px;
  font-family: 'Roboto Condensed';
  color: white;
  text-transform: uppercase;
  grid-column: 2 / 3;
}

.change-location{
  display: grid;
  grid-template-columns: 2 1fr;
  margin-bottom: 20px;
}

.location-label{
  grid-column: 1 / 3;
  margin: 0px 0px 10px 20px ;
}

.location-field{
  grid-column: 1 / 2;
  border-radius: 25px 0px 0px 25px;
  min-width: 240px;
  border: 1px solid #7d7d7d;
  padding-left: 20px
}

.five-day-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links{
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
}

/* 
FONT REFERENCE

font-family: 'Hind', sans-serif;
font-weight: 700

font-family: 'Roboto Condensed', sans-serif;
font-weight: 300, 400, 700
  300 italic

*/